[submodule "frontend"]
	path = frontend
	url = https://github.com/lelelelelelelelelelelelele/jiaqi_health_bot.git
[submodule "miniprogram"]
	path = miniprogram
	url = E:/project/local-git/aibot-miniprogram.git
